@font-face {
    font-family: 'Inconsolata';
    src: url('./inconsolata-regular.eot');
    src: url('./inconsolata-regular.woff2') format('woff2'),
         url('./inconsolata-regular.woff') format('woff'),
         url('./inconsolata-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }