@import 'variables';

@import '../../node_modules/uikit/src/scss/variables-theme.scss';
@import '../../node_modules/uikit/src/scss/mixins-theme.scss';

@import "../../node_modules/uikit/src/scss/uikit-theme.scss";

html {
  font-family: 'Inconsolata', monospace;
  font-size: 1rem;
}

textarea {
  resize: none;
}

.noFill {
  fill: transparent;
  stroke-width: 0;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.textDimensionCalculation {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  white-space: nowrap;
  font-family: 'Inconsolata', monospace;
}

.lineBreakerCalculation {
  position: absolute;
  visibility: hidden;
  height: auto;
  padding: 0;
  margin: 0;
  border: none;
  font-family: 'Inconsolata', monospace;
}

.textLineLine {
  cursor: pointer;
}

.geometric-shank-navbar {
  border-bottom: $navbar-border-bottom;
}

.geometric-shank-canvas-line {
  color: $card-default-color;
}

.activeFreehand {
  fill: none;
  stroke: $palette-red;
  stroke-width: $freehand-stroke;
  stroke-linejoin: round;
  stroke-linecap: round;
}


::-webkit-scrollbar {
  width: $scrollbar-width;
  height: $scrollbar-height;
}

::-webkit-scrollbar-track {
  background: lightgrey;
}

::-webkit-scrollbar-thumb {
  background: $global-primary-background;
}
