@import 'variables';

@import '../../node_modules/uikit/src/scss/variables-theme.scss';
@import '../../node_modules/uikit/src/scss/mixins-theme.scss';

@import "../../node_modules/uikit/src/scss/uikit-theme.scss";

html {
  font-family: 'Inconsolata', monospace;
  font-size: 1rem;
}

textarea {
  resize: none;
}

.geometric-shank-navbar {
  border-bottom: $navbar-border-bottom;
}

::-webkit-scrollbar {
  width: $scrollbar-width;
  height: $scrollbar-height;
}

::-webkit-scrollbar-track {
  background: lightgrey;
}

::-webkit-scrollbar-thumb {
  background: $global-primary-background;
}
