/* UIkit overrides */
$global-primary-background: #FBB829;
$global-small-gutter: 5px;

/* Geometric Shank main styles */

$navbar-border-bottom: 2px solid $global-primary-background;
$vp: 5px;
$hp: 30px;

/* Scrollbars */

$scrollbar-width: 5px;
$scrollbar-height: 5px;