@import 'variables';

@import '../../../node_modules/uikit/src/scss/variables-theme.scss';
@import '../../../node_modules/uikit/src/scss/mixins-theme.scss';

@import "../../../node_modules/uikit/src/scss/uikit-theme.scss";

html {
  font-family: 'Inconsolata', monospace;
  font-size: 1rem;
}

textarea {
  resize: none;
}

.noFill {
  fill: transparent;
  stroke-width: 0;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.textDimensionCalculation {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  white-space: nowrap;
  font-family: 'Inconsolata', monospace;
}

.lineBreakerCalculation {
  position: absolute;
  visibility: hidden;
  height: auto;
  padding: 0;
  margin: 0;
  border: none;
  font-family: 'Inconsolata', monospace;
}

.cutLinesGrab {
  cursor: pointer;
}

.cutLinesGrabbed {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAwCAYAAABnjuimAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAHuwAAB7sBXbGqagAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAIVSURBVFiF7dm/a9RgGMDxz+WKRQtVUaTg4U+QDqIOIjgIxU0EB3HxD3B1ctE/wNnJRRyKi4Nugi5SdXIRqqAO1YqDo7YgRUvvEocQOOo1SXtJ3hP8whNCeCHf5Hny/kpLtezBJczgOA5iF7pYxiLeYA5P8avi+xdyCg+xiqRkLOMOOk0I7sQ99DYhuD5WcBPtuiSP4v0QguvjmbRMKuUcvlcomcVHHK5K8hh+1CCZxQL2DSs5qdp0bxRzhqzZBw1IZnFtq5JnETco+g0TWxF90qBkFrc2K7lfOro0LfoVkexQgitq7JBzOIAzlBedqU2lmPOUFz1Zo0gRJygnGklTEIojmUQRO4Spz4xJyoluq1mk1P3L1mhw/otWzVjf+TguSpcVa3iFlyGk8jiNT/4ewl5gesD1JmMxkzyEpZyG70ZF9H5gkVKiES74B4ikmwYjT4TPoSXKEGE2tERZxvFW+I+m8GNalc7gf9byGioiG0IXcD2kyGaZFT7VG3b4/UxI939Cyw2s0X5WcBW/B77vgAya5s3jRtMiw/BY+LRvWKP97MaXURHNm+EvSet1reiJmqBoKfIat5sQqYK9Rjz1GfGQD1oJY8VNtNvtkBsl2r1eTyuvRafT2R7H8bz0B0MwkiR5lJv6OI6nBZaEVqt1OVc0SZJR2aCIRkWkkFzRKIq6TYkU0M0VnZqa+oDn0v4sFF3c/QMLImhyPeLrvwAAAABJRU5ErkJggg==), pointer;
}

.selectWordCursor {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAwCAYAAADdLWDGAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAFhgAABYYBG6Yz4AAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAADxSURBVDiN7ZM9bsJAEIU/LyRIKEHyLsSEIg6SuSs3QLkGDVWaNDlK+kBvCmat5wm4pshI1vPzt2/2R16AxKX+aAA2QGGK+CYAFfDs4AyoAhDtaQw2+VuwOZJLpjxnaSNr4Al4M1/mZDRt1AcB0Vp2XucsHeySa2BsbcfAe076beh2OAE/QOv0WJhp7ch6ml+uVgAON9gBYARspX0LfNiqu9oZ2GnbXEfT32tw4rQHH53+J+8hOXXaS+lv8qDJyg1OClcOLofgSuGrg5XC5RB8cXAxBOcKF0MwORgVRgdLhf48Jwq/HfxSUwOfXG7YPi/wDJ/IJVopmo1wAAAAAElFTkSuQmCC), pointer;
}

.cutWordsCursor {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAwCAYAAADdLWDGAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAADzQAAA80BCukWCQAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEZSURBVDiN7dQ9SsRAFMDx/5sYXIQJFiImZCFFWBC0kICFFlts5Qm8gWDrQQS9g9jZKOgNrD2DzVY2gYDJOGNjYMwmKbYTfMUU85v3UTxG6IksyyZN09yoLhRFEdZ1/eScuwi6KCK3wDmA+JCm6bG19hVQtEcb1tpr/075WcCp/1h5WZcr/QHyPN+sqmoJbK9kVlU174JfdtEFH0+GUICDXkySZNrXD0CJyGEfACjn3P4gikg6lrk3iEA8hrtjqMdwa23cGEO7FgZRFL3/lJ6tYFmWb2VZ3mutFTD30d/bII7jZxGZtBf+pF8icgTs+AMNxj/+FXwBHqFnLZ1zV2EYLo0xH110InJnjPkE3K+PUWs9A86AqYg8fAMb80ckYXD1cwAAAABJRU5ErkJggg==), default;
}

.geometric-shank-navbar {
  border-bottom: $navbar-border-bottom;
}

.geometric-shank-canvas-line {
  color: $card-default-color;
}

.activeFreehand {
  fill: none;
  stroke: $palette-red;
  stroke-width: $freehand-stroke;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.cutupLogo {
  width: $cutup-logo-width;
  height: $cutup-logo-height;
}

::-webkit-scrollbar {
  width: $scrollbar-width;
  height: $scrollbar-height;
}

::-webkit-scrollbar-track {
  background: lightgrey;
}

::-webkit-scrollbar-thumb {
  background: $global-primary-background;
}
