/* UIkit overrides */
$global-primary-background: #FBB829;
$global-small-gutter: 5px;

/* Geometric Shank main styles */

$palette-one: #ff6666;
$palette-two: #ff8080;
$palette-three: #fbbb29;
$palette-four: #ff9900;
$palette-five: #ff7a22;

$palette-red: #FF0066;

$navbar-border-bottom: 2px solid $global-primary-background;
$vp: 5px;
$hp: 30px;

/* Logo dimensions */

$cutup-logo-height: 60px;
$cutup-logo-width: 60px;

/* Scrollbars */

$scrollbar-width: 5px;
$scrollbar-height: 5px;

/* Freehand */

$freehand-stroke: 1px;
